[Unit]
Description=Mount unit for core, revision 6964
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_6964.snap
Where=/snap/core/6964
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
